doctype html
html
  head
    title modal
    link(rel="stylesheet", href="../stylesheets/index.styl")
  body(ng-app="shoelace-modal")
    include test
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.8/angular.js")
    script(src="../build/build.js")
    script.
      require('modal')