:stylus
  label
    display block
  section
    margin-top 20px
    border 1px solid #ddd
    box-sizing border-box
    padding 20px
  em
    margin-bottom 10px
    display block
  input
    margin-bottom 5px
    display inline-block

mixin label(group, name)
  label #{name}:
    input(data-ng-model="#{group}.#{name}")

section(data-ng-init="info1 = {header: 'info 1', content: 'content 2'}",
        data-sl-modal)
  em.
    Click anywhere to open.
  +label('info1', 'header')
  +label('info1', 'content')
div
  +label('info1', 'header')
  +label('info1', 'content')

section(data-ng-init="info2 = {header: 'info 2', content: 'content 2'}")
  em.
    Click button to open.
  +label('info2', 'header')
  +label('info2', 'content')
  button(data-ng-click="open()") OPEN 1
  button(data-sl-modal) OPEN 2
  div.test
    +label('info2', 'header')
    +label('info2', 'content')
    button(data-ng-click="close()") CLOSE
