html
body
  margin 0

_pad = 20px

.sl-modal-container
  position fixed
  top 0
  height 100%
  width 100%
  z-index 10
  display none

  &.active
    display block

  .sl-modal
    position relative
    top 0
    background white
    margin (_pad * 4) auto
    z-index 2
    max-width 500px - (_pad * 4)
    box-shadow 0 3px 16px rgba(black, .4)

  .bg
    position absolute
    top 0
    height 100%
    width 100%
    background #333
    opacity .6
    z-index 1
