html
body
  margin 0

_pad = 20px

.sl-modal-container
  display none
  height 100%
  position fixed
  top 0
  width 100%
  z-index 10000

  &.active
    display block

  .sl-modal
    background white
    box-shadow 0 3px 16px rgba(black, .4)
    margin (_pad * 4) auto
    max-width 500px - (_pad * 4)
    position relative
    top 0
    z-index 2

  .bg
    background #333
    height 100%
    opacity .6
    position absolute
    top 0
    width 100%
    z-index 1
